@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    color: #fff;
    background: #6990F2;
}

.wrapper {
    max-width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
    margin: auto;
    border: 2.5px solid slategray;
}

.wrapper header {
    color: #6990F2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form {
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
}

form i {
    color: #6990F2;
    font-size: 50px;
}

form p {
    margin-top: 15px;
    font-size: 16px;
}

#selected-file-area .row {
    margin-bottom: 10px;
    background: #E9F0FF;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#selected-file-area .row i {
    display: block;
    color: #6990F2;
    font-size: 30px;
}

#selected-file-area .row .content {
    flex-grow: 1;
    margin-left: 0.5rem;
}

#selected-file-area .details span {
    font-size: 14px;
}

.fas {
    width: 80px;
}

.fas-s {
    height: 30px;
    color: blue;

}